<div class="row">
    <div class="col-12">
        <img src="/assets/images/burger.png">
    </div>
</div>
<div class="row">
    <div class="col-12">
        <h1>Eat The Burger</h1>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <div class="row">
            <div class="col-12">
                <h5> What you can eat</h5>
                <hr>
            </div>
        </div>
        {{#each burger}}
        {{#unless devour}}
        <div class="row">
            <div class="col-12">
                <p> {{id}} - {{name}} </p>
                <button class="devour" data-id="{{id}}"> Devour It </button>
            </div>
        </div>
        {{/unless}}
        {{/each}}
        <div class="row">
            <div class="col-12">
                <p> Cheeseburger </p>
                <button class="devour"> Devour It </button>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="row">
            <div class="col-12">
                <h5> What you have devoured</h5>
                <hr>
            </div>
        </div>
        {{#each burger}}
        {{#if devour}}
        <div class="row">
            <div class="col-12">
                <p> {{id}} - {{name}}</p>
            </div>
        </div>
        {{/if}}
        {{/each}}
    </div>
</div>
<form class="create-form">
    <div class="row">
        <div class="col-12">
            <textarea type="text" id="burgerName"></textarea>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <button type="submit" class="submit">submit</button>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h4>Enter the burgure you would like to eat and click submit</h4>
        </div>
    </div>
</form>